$primary-font: "Raleway", sans-serif;

$font-xs: 8px;
$font-xs: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 18px;
$font-xl: 24px;
$font-xxl: 32px;

$primary-color: rgba(25, 118, 210, 1);
$primary-color-hover: rgba(0, 75, 160, 1);

$black: rgba(33, 33, 33, 1);

$white: rgba(255, 255, 255, 1);
$white-075: rgba(255, 255, 255, .75);